MONGODB_URI = mongodb+srv://amitprj737:amit123@test-mern.eie6sbv.mongodb.net/?retryWrites=true&w=majority&appName=test-mern
TOKEN_SECRET_KEY  = asdfgagasdoeitupqituweiewotuewitouw
FRONTEND_URL = http://localhost:3000